body {
    display: flex;
    background-color: black;
    overflow: hidden;
}

/* PASO 5 */
.game-container {
    width: 500px;
    height: 730px;
    position: absolute;
    left: 80px;
}

.border-left {
    width: 80px;
    height: 790px;
    position: absolute;
    background-color: black;
    z-index: +2;
    top: 0px;
}

.border-right {
    width: 80px;
    height: 790px;
    position: absolute;
    background-color: black;
    z-index: +2;
    left: 580px;
}

.border-top {
    width: 660px;
    height: 50px;
    position: absolute;
    background-color: black;
    z-index: +2;
    top: -50px;
}

/* PASO 6 */
.sky {
    background-image: url('fb-game-background.png');
    width: 500px;
    height: 580px;
    position: absolute;
}

/* PASO 7 */
.ground {
    background-image: url('bottom-background.png');
    width: 500px;
    height: 150px;
    position: absolute;
    top: 580px;
    z-index: +1;
}

/* PASO 8 */
.bird {
    background-image: url('bobby4.png');
    width: 60px;
    height: 45px;
    position: absolute;
    background-position: right center;
}

.obstacle {
    background-image: url('flappybird-pipe.png');
    width: 60px;
    height: 300px;
    position: absolute;
}

.topObstacle {
    background-image: url('flappybird-pipe.png');
    transform: rotate(180deg);
    width: 60px;
    height: 300px;
    position: absolute
}

.score {
    left: 20px;
    top: 10px;
    width: 150px;
    height: 15px;
    position: absolute;
    color: black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 2em;
    z-index: +2;
}

.player {
    left: 150px;
    top: 30px;
    width: 500px;
    height: 20px;
    font-size: 2em;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    position: absolute;
}